
link(href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css",rel="stylesheet" )
script(src='https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/javascript/jquery.min.js')
link(href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", rel="stylesheet" )
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")    
script(src='https://getbootstrap.com/docs/3.4/dist/js/bootstrap.min.js')

script(src='/javascripts/cool/grid_export.js')
-var fn= "reli_report";
-var act_link="/internal/PublicAPI/ExpXls.php?charset=utf-8&filename="+fn+".xls"
form(method="POST", enctype="multipart/form-data",action=`/internal/PublicAPI/ExpXls.php?charset=utf-8&filename=${fn}.xls`)#CSVFrmPOST
  .form-group.hidden
    input.form-control(type="text", name="CSVFrmPOSTNAME", id="CSVFrmPOSTVALUE")
.btn-group
  a(href='#', class='btn btn-primary btn-sm')#exportbtn
    i.glyphicon.glyphicon-download-alt
    span  匯出Xls  
.btn-group
  a(href='#', class='btn btn-primary btn-sm')#exportCSV
    i.glyphicon.glyphicon-download-alt
    span  匯出CSV        
script.
  var ITEM_Name = ["---", "50M", "60M", "100M", "200M", "400M", "800M", "1000M", "1500M", "3000M", "5000M", "60米欄", "80米欄", "100米欄", "110米欄", "4x50M", "4x100M", "4x400M", "跳高", "跳遠", "三級跳遠", "壘球", "鉛球"];
  var GROUP_Name = ["男A", "男B", "男C", "男D", , "女A", "女B", "女C", "女D", "男E", "女E"];
  
  function ShowGroupName(x) { return GROUP_Name[x]; }
  function ShowItemName(rec) {
    console.log(rec)
    let res = "";
    let lastdata_ = rec.split(';');
    let lastdata_li = lastdata_[lastdata_.length - 1];
    console.log(lastdata_li);
    let itemli = lastdata_li.match(/[0-9]+/g);
    console.log(itemli)
    if(itemli==null) return;
    for (let i = 0; i < itemli.length; i++) {
      res += ITEM_Name[Number(itemli[i])] + "\n";
    }
    document.write(res);
  }
table#tableContent(border=1)
  tr
    th id
    th classno
    th seat  
    th name    
    th 性別
    th gid
    th gn
    th logtime
    th rec
  each ite in books
    tr
      td= ite.id
      td= ite.classno
      td= ite.seat
      td= ite.stdname
      td= ite.sex
      td= ite.groupid
      td= ite.groupname
      td= (ite.logtime?ite.logtime.toLocaleString():"")
      td
        script.
          ShowItemName(`!{ite.rec}`);

script(type="text/javascript").
  $(document).ready(function(){
    $('#exportbtn').click(function(){
      var txt= document.getElementById('tableContent').innerHTML;
      document.getElementById('CSVFrmPOSTVALUE').value ="<table>"+ txt+"</table>";
      document.getElementById('CSVFrmPOST').submit();
    });
  　$("#exportCSV").on('click', function(event) {
  　  //var args = [$('#tableContent>table'), 'export0.csv'];
  　  var args = [$('#tableContent'), 'export0.csv'];
  　  exportTableToCSV.apply(this, args);
  　});

  });
