
extends ./base.pug
block content
  a(href="/internal/equed/ed/add", class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Add stud
  hr  
  each book in books
    div
      span= book.id
      span :&nbsp;
      span= book.gid
      span :&nbsp;
      span= book.qtitle
      
    div
      a(href=`/internal/equed/ed/${book.id}`, class='btn btn-success btn-sm')
        span View
      a(href=`/internal/equed/ed/${book.id}/edit`, class='btn btn-success btn-sm')
        span 編輯設定
      a(href=`/internal/equed/edCode/${book.id}`, class='btn btn-success btn-sm')
        span JS編程
      a(href=`/internal/equed/edUI/${book.id}`, class='btn btn-success btn-sm')
        span UI
  if !books.length
    p No work log found.
  -var prePageToken = nextPageToken - 100 > 0 ? nextPageToken - 100 : 0
  if nextPageToken 
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(prePageToken)}`) Prev
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) Next
  else 
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(prePageToken)}`) Prev
  if cflag            
    li
      a(href="/internal/workgrid/add") Add Rec