
extends ./base.pug
block content
    div
      a(href=`/internal/equed/ed/${book.id}/edit`)= book.id
    div
      a(href=`/internal/equed/ed/${book.id}`, class='btn btn-success btn-sm')
        span 編輯設定
      a(href=`/internal/equed/edCode/${book.id}`, class='btn btn-success btn-sm')
        span JS編程
    div= book.gid
    div= book.qtitle
    div= book.qgrade
    div= book.qfield
    div= book.tx
    div= book.acnt
    div= book.atype
    div= book.qizcode
    div= book.anscode
    div !{book.qnote}
    div !{book.snote}
    div= book.pflag
    div= book.pdate
    div= book.createbyid
    div= book.createbyname
    div= book.createdate
    div= book.modifybyid
    div= book.modifybyname
    div= book.modifydate