
extends ./base.pug
block content
  script.
      var require = { paths: { vs: 'https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs' } };
  script(src="https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs/loader.js")
  script(src="https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs/editor/editor.main.nls.js")
  script(src="https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs/editor/editor.main.js")
  style.
    #container_qiz{width:100%;height:400px}
    #container_ans{width:100%;height:400px}
  div= book.id
  div
    a(href=`/internal/equed/ed/${book.id}/edit`, class='btn btn-success btn-sm')
      span 編輯設定
    a(href=`/internal/equed/edCode/${book.id}`, class='btn btn-success btn-sm')
      span JS編程
  div= book.gid
  div= book.qtitle
  div= book.qgrade
  div= book.qfield
  div= book.tx
  div= book.acnt
  div= book.atype
  table(width="100%")
    tr
      td(width="50%")
        div#container_qiz
      td(width="50%")
        div#container_ans
  pre= book.qizcode        
  pre= book.anscode
  div(style="border:1px") !{book.qnote}
  div(style="border:1px") !{book.snote}
  div= book.pflag
  div= book.pdate
  div= book.createbyid
  div= book.createbyname
  div= book.createdate
  div= book.modifybyid
  div= book.modifybyname
  div= book.modifydate

  script.
      
      require(['vs/editor/editor.main'], function () {
      var editor = monaco.editor.create(document.getElementById('container_qiz'), {
          value:!{qiz_code}.join("\n"),
          language: 'javascript',
          theme: "vs-dark",
          readOnly: true

      });
      var editor_ans = monaco.editor.create(document.getElementById('container_ans'), {
          value:!{ans_code}.join("\n"),
          language: 'javascript',
          theme: "vs-dark",
          readOnly: true
      });
      monaco.languages.typescript.javascriptDefaults
          .addExtraLib(`var tmsU={TakeARnd:"亂數TakeARnd(Ta,Tb,Desm=0,SwIs(0,1,2)=1,Tc=0,Td=0)",TakeAFra:""}`
          )
      });


