//- Copyright 2017, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

extends ./base.pug

block content
  h3 Work Log
    small

  .btn-group
    a(href=`/internal/workgrid/${book.id}/edit`, class='btn btn-primary btn-sm')
      i.glyphicon.glyphicon-edit
      span  Edit Work Log
  .media
    .media-left
      img(src=book.imageUrl || "/images/deptworklog.jpg")
    .media-body
      h4= book.title
        | &nbsp;
        small= book.logDate
      h5 By #{book.author||'unknown'}
      pre(class="pre-scrollable")= '一'+ book.A
      pre(class="pre-scrollable")= '二'+  book.B
      pre(class="pre-scrollable")= '二'+  book.C
      pre(class="pre-scrollable")= '四'+  book.D
      pre(class="pre-scrollable")= '五'+  book.E
      pre(class="pre-scrollable")= '六'+  book.F
      pre(class="pre-scrollable")= '七'+  book.G
      pre(class="pre-scrollable")= '八'+  book.H
      pre(class="pre-scrollable")= '#'+  book.I
      small Added by #{book.createdBy} Modifed by #{book.ModifiedBy}
