extends ./base.pug
  
block content
  script(src='/javascripts/cool/grid_export.js')
  script(src='/javascripts/cool/table2csv.js')
  -var fn= "math_report";
  -var act_link="/internal/PublicAPI/ExpXls.php?charset=utf-8&filename="+fn+".xls"
  form(method="POST", enctype="multipart/form-data",action=`/internal/PublicAPI/ExpXls.php?charset=utf-8&filename=${fn}.xls`)#CSVFrmPOST
    .form-group.hidden
      input.form-control(type="text", name="CSVFrmPOSTNAME", id="CSVFrmPOSTVALUE")
  p .
  p .
  .btn-group
    a(href='#', class='btn btn-primary btn-sm')#exportbtn
      i.glyphicon.glyphicon-download-alt
      span  匯出XLS  
  .btn-group
    a(href='#', class='btn btn-primary btn-sm')#exportCSV
      i.glyphicon.glyphicon-download-alt
      span  匯出CSV        
  script.  
    function fn21(x){
        x= x.split(" ");
        if(x && x.length>0){
        document.write(x[x.length-1]);
        }else{
          document.write('---');
        }
    }    
  if data  
    div= `total ${data.length} rec.`
  div#tableContent
    -let cnt=0
    each r in data
      -let fn_=r.fn.split('_'  ) 
  
      table(border=1)
        tr
          th ID
          th Qiz
          th tx
          th UserName
          th DateTime
          th FileName
        tr
          td= r.id
          td= fn_[1]
          td= fn_[2]
          td= r.username
          td= r.md
          td= r.fn        
      
      -let arr = JSON.parse(r.jsondata)
      -let rowcnt=0
      -let total=0
      -let tx=0
      -let txtime=0
      -let totalflag=0
      table
        if arr  
          each arr1 in arr
            -let txflag=(arr1[0]==fn_[2])
            //span= `~${txflag}~`
            - cnt++ 
            if arr1.length>2 
              tr
                if txflag
                  - tx= arr1[0]
                  - total=total + Number(arr1[2])
                  - rowcnt++
                  - txtime+=Number(arr1[3])
                td= cnt
                td= r.username
                each arr2 in arr1
                  td= arr2
                -totalflag = arr1.length
          if totalflag >2    
            tr
              td= cnt
              td= r.displayname?r.displayname.substring(r.displayname.length-6):""
              td= `總計(${fn_[1]}):`
              td= rowcnt
              td= total
              td= txtime.toFixed(2)
              td= `tx=${fn_[2]}`
              td= r.displayname
              td= r.username
        else
          div ERROR    
      hr
  script(type="text/javascript").
    $(document).ready(function(){
      $('#exportbtn').click(function(){
        var txt= document.getElementById('tableContent').innerHTML;
        document.getElementById('CSVFrmPOSTVALUE').value ="<table>"+ txt+"</table>";
        document.getElementById('CSVFrmPOST').submit();
      });
      $("#exportCSV").on('click', function(event) {
        var args = [$('#tableContent>table'), 'export0.csv'];
        exportTableToCSV.apply(this, args);
      });
    });
