extends ./base.pug
  
block content
  script(src='/javascripts/cool/grid_export.js')
  script(src='/javascripts/cool/table2csv.js')
  script(src='/math/utils/tmsUtils.js')
  script.
    let adj_mark=0;
  -var fn= "math_report";
  -var act_link="/internal/PublicAPI/ExpXls.php?charset=utf-8&filename="+fn+".xls"
  form(method="POST", enctype="multipart/form-data",action=`/internal/PublicAPI/ExpXls.php?charset=utf-8&filename=${fn}.xls`)#CSVFrmPOST
    .form-group.hidden
      input.form-control(type="text", name="CSVFrmPOSTNAME", id="CSVFrmPOSTVALUE")
  p .
  p .
  .btn-group
    a(href='#', class='btn btn-primary btn-sm')#exportbtn
      i.glyphicon.glyphicon-download-alt
      span  匯出XLS  
  .btn-group
    a(href='#', class='btn btn-primary btn-sm')#exportCSV
      i.glyphicon.glyphicon-download-alt
      span  匯出CSV        
  script.  
    function fn21(x){
        x= x.split(" ");
        if(x && x.length>0){
        document.write(x[x.length-1]);
        }else{
          document.write('---');
        }
    }    
  if data  
    div= `total ${data.length} rec.`
  div#tableContent
    -let cnt=0
    each r in data
      -let fn_=r.fn.split('_'  ) 
  
      table(border=1)
        tr
          th ID
          th Qiz
          th tx
          th UserName
          th DateTime
          th FileName
        tr
          td= r.id
          td= fn_[1]
          td= fn_[2]
          td= r.username
          td= r.md
          td= r.fn        
      
      -let arr = JSON.parse(r.jsondata)
      -let rowcnt=0
      -let total=0
      -let tx=0
      -let txtime=0
      -let totalflag=0
      script.
        adj_mark=0      
      table
        if arr  
          each arr1 in arr
            -let txflag=(arr1[0]==fn_[2])
            //span= `~${txflag}~`
            - cnt++ 
            if arr1.length>2 
              tr
                if txflag
                  - tx= arr1[0]
                  - total=total + Number(arr1[2])
                  - rowcnt++
                  - txtime+=Number(arr1[3])
                td= cnt
                td= r.username
                if fmt=='AC'
                  -let St1="";
                  -let St2="";
                  -let OX=0;
                  each arr2,idx in arr1
                    td= arr2
                    case idx
                      when 2
                        -OX=arr2
                      when 6
                        -St1=arr2
                      when 7
                        -St2=arr2
                  td      
                    script.
                      {
                      let OX='!{OX}';
                      let St1='!{St1}';
                      let St2='!{St2}';
                      console.log(OX,St1,St2);   
                      if(OX==='0'){
                        let v1=calc.RunExprV1(St1,{x:73});
                        let v2=calc.RunExprV1(St2,{x:73});
                        if(Math.abs(v1-v2)<0.00001){
                          document.write("調整(+1)");
                          adj_mark++;
                        }
                      }
                      }
                else
                  each arr2 in arr1
                    td= arr2

                -totalflag = arr1.length
          if totalflag >2    
            tr
              td= cnt
              td= r.displayname?r.displayname.substring(r.displayname.length-6):""
              td= `總計(${fn_[1]}):`
              td= rowcnt
              td(id=`total${r.id}`)= total
              script.
                {
                  let x=document.getElementById('total!{r.id}')
                  x.innerText=Number(x.innerText)+adj_mark;
                }
              td= txtime.toFixed(2)
              td= `tx=${fn_[2]}`
              td= r.displayname
              td= r.username
        else
          div ERROR    
      hr
      
  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?${queryToken}`) More

  //if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) More

  script(type="text/javascript").
    $(document).ready(function(){
      $('#exportbtn').click(function(){
        var txt= document.getElementById('tableContent').innerHTML;
        document.getElementById('CSVFrmPOSTVALUE').value ="<table>"+ txt+"</table>";
        document.getElementById('CSVFrmPOST').submit();
      });
      $("#exportCSV").on('click', function(event) {
        var args = [$('#tableContent>table'), 'export0.csv'];
        exportTableToCSV.apply(this, args);
      });
    });
