extends ./base.f1.pug
block content
  mixin MathTestPanel(tabid,pstyle,pintype)
    table(style="margin:10px auto;")
      tr
        td
          span(id=`QNO00${tabid}`) 命題:&nbsp;&nbsp;
        td
          div(id=`QT00${tabid}`)
      tr
        td 解題:   
        td  
          table
            tr
              td
                input(class=pstyle, type=pintype,name=`ANSQT00${tabid}`, id=`ANSQT00${tabid}`)
            tr(style="border-top:1px solid black;")
              td    
                input(class="AnsInput", type="number",name=`ANSQTM00${tabid}`, id=`ANSQTM00${tabid}`)
      tr
        td
        td
          span(class="dot",id=`helpCHKQT00${tabid}`) ?9
          button(class="btn btn-info btn-sm",id=`CHKQT00${tabid}`) Start
  mixin MathTestPanel0(tabid,pstyle,pintype)
    table(style="margin:10px auto;")
      tr
        td
          span(id=`QNO00${tabid}`) 命題:&nbsp;&nbsp;
        td
          div(id=`QT00${tabid}`)
      tr
        td 解題:   
        td  
          table
            tr
              td x1=
              td
                input(class=pstyle, type=pintype,name=`ANSQT00${tabid}`, id=`ANSQT00${tabid}`)
              td(rowspan=2) 
                if tabid==3 || tabid==4
                  div 分數用(-a/b)格式; 
            tr(style="border-top:0px solid black;")
              td x2=            
              td    
                input(class=pstyle, type=pintype,name=`ANSQTM00${tabid}`, id=`ANSQTM00${tabid}`)
      tr
        td
        td
          span(class="dot",id=`helpCHKQT00${tabid}`) ?9
          button(class="btn btn-info btn-sm",id=`CHKQT00${tabid}`) Start

  if !profile        
    <table id=login_forom>
      <c:choose>
      <c:when test="${empty userEmail}">
      <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;<td>請<a href="/login">登入</a>!
      </c:when>
      <c:otherwise>           
      </c:otherwise>
      </c:choose>      
    </table>          
  ul(class="nav nav-tabs")
    li(class="nav-item")
      a(href="/internal/TMS/mathindex.jsp") 
        span(class="glyphicon glyphicon-arrow-left")
        span(style="display:none")= MathTitle     
        if profile
           span(style="display:none") #{profile.displayName} &nbsp;
    li(class="active")
      a(data-toggle="tab" href="#menu1") 題型1
    li
      a(data-toggle="tab" href="#menu2") 題型2
    li
      a(data-toggle="tab" href="#menu3") 題型3
    li
      a(data-toggle="tab" href="#menu4") 題型4
  div(class="tab-content")
    -let instyle="AnsInput";
    -let inTxt="number";
    -let tabpane=["","tab-pane fade in active","tab-pane fade","tab-pane fade","tab-pane fade"]
    if formulajs=="f202"
      each tabid in [1,2,3,4]
        if tabid==3 || tabid==4
          - instyle="AnsExpInput"
          - inTxt="text"          
        div(id=`menu${tabid}` class=tabpane[tabid])
          +MathTestPanel0(tabid,instyle,inTxt)
    else
      if formulajs=="f201"
        - instyle="AnsExpInput"
        - inTxt="text" 
      each tabid in [1,2,3,4]
        div(id=`menu${tabid}` class=tabpane[tabid])
          +MathTestPanel(tabid,instyle,inTxt)
   
  include include/frm.pug
  style.
    .MathJax span{font-size:20px;}
  script.
    class MathClassF1equ extends UIMathClass {
      InitQizData(){
        for (let i = 0; i < 4; i++) {
            for(let j=0;j<10;j++){
              let TiXing = i+1;
              let Range = {}
              Range["D15"] = "*"
              Range["E15"] = "%"
              let s1 = CreatAEq(TiXing, 9, Range)
              this.QT[i][j]=s1.St;
              this.AQT[i][j]=s1.CalcVal;
              console.log(Range)
            }
          }
      }     
      GetQizStatement(qti,qno)
      {
        super.GetQizStatement(qti,qno);
        return this.QT[Number(qti)-1][qno-1] ;   
      }
      CheckAns(qti,qno, AnsZ,AnsM){
        let ansx= App.AQT[Number(qti)-1][qno-1];
        if(this.IsFraction(qti,qno)){
          return Math.abs(ansx-(AnsZ/AnsM))<0.0001
        }else{
          if((typeof ansx)=="number") return ansx==AnsZ;
          if((typeof ansx)=="string") return ansx==AnsZ;
          if((typeof ansx)=="object") return ansx["F116"]==AnsZ && ansx["G116"]==AnsM;
        }
      }
      GetAns_Num(qti,qno){return App.AQT[Number(qti)-1][qno-1]["F116"];}
      GetAns_Den(qti,qno){return App.AQT[Number(qti)-1][qno-1]["G116"];}
      GetAnsSt(qti,qno) {return this.AQT[Number(qti) - 1][qno - 1];   }
    }
    let App=new MathClassF1equ();
    //if(`!{formulajs}`=="f1"){  App=new F1_UIMathClass();  }
    var script = document.createElement('script');
    script.onload = function () {
       //do stuff with the script
       if(ft=="f201"){  App=new F201_UIMathClass();  }
       else if(ft=="f202"){  App=new F202_UIMathClass();  }
       else if(ft=="f2"){  App=new F2_UIMathClass();  }
       else if(ft=="f1"){  App=new MathClassF1equ();  }
       else if(ft=="p2"){  App=new MathClassF1equ();  }
       else if(ft=="p5"){  App=new MathClassF1equ();  }
       else{App=new MathClassF1equ(); }
       App.InitQizData();
    };
    script.src = "/math/question/"+ft+".js";
    document.head.appendChild(script);
    function GetQuestion(x) {  
      let qno= ($('#CHKQT00'+x).text()=="Start") ? 1: Number($('#CHKQT00'+x).text().split("/")[0])+1;
      $("#ANSQT00"+x).val("");       
      $("#ANSQTM00"+x).val("");    
      $("#ANSQT00"+x).prop('disabled', false);
      $("#ANSQT00"+x).css("display", "block");      
      $("#ANSQT00"+x).focus();     
      $("#ANSQTM00"+x).css("display", "block");  
      if( !App.IsFraction(x,qno) )  {
         $("#ANSQTM00"+x).css("display", "none");  
         $("#ANSQTM00"+x).val("1");      
      }
      $('#CHKQT00'+x).text(qno+ "/10确定");
      $('#QT00'+x).html("\\("+App.GetQizStatement(x,qno)+"\\)");  
      App.UpdateMathContent(x);
      close_msgbox('AnsMsgbox');
    }
    function GetCheckAns(x) {  
      if($('#CHKQT00'+x).text()=="Start"){ GetQuestion(x);
      }else{
        let qno=  Number($('#CHKQT00'+x).text().split("/")[0]);
        let ansZ= $( "#ANSQT00"+x).val();
        let ansM= $( "#ANSQTM00"+x).val();
        if(ansZ=="" || ansM=="" ){}
        else{
          $("#ANSQT00"+x).prop('disabled', true);
          show_AnsMsgbox(x,qno,ansZ,ansM);  
        }
      }
    }
    function GetHelpCheckAns(x) {  
      let qhelpNum=Number($('#helpCHKQT00'+x).text().replace("?",""));
      if(qhelpNum < 1 ) return;
      if($('#CHKQT00'+x).text()=="Start"){ 
      }else{
        let qno=  Number($('#CHKQT00'+x).text().split("/")[0]);
        let ansZ= $( "#ANSQT00"+x).val();
        let ansM= $( "#ANSQTM00"+x).val();
        if(ansZ=="" || ansM=="" ){}
        else{
          show_HelpAnsMsgbox(x,qno,ansZ,ansM);  
          qhelpNum--;
          $('#helpCHKQT00'+x).text("?"+qhelpNum);
        }
      }
    }
    $(document).ready(function(){
      var d = (new Date()).toISOString().substring(0, 10).replace(/-/g,"");
      var t = (new Date()).toISOString().substring(11, 19).split(':');
      let h=Number(t[0])+8;
      h=h>9?""+h:"0"+h;
      var ti=h+""+t[1]+""+t[2];   //Number(t[0])+8 +""+t[1]+""+t[2];
      $( "#txtdate" ).text(d+ti); 
      let mathtitle={"f1":"一元一次方程","f2":"有理數運算","f201":"十字相乘法因式分","f202":"一元二次方程式","p2":"加減","p5":"方程式"};
      $( "#MathTitle" ).text(mathtitle[ft]); 
      $( "#txtuser" ).text(username);
      $( "#txtft" ).text(ft); 
      $("#AnsMsgRes").dialog( { autoOpen: false, width:'80%'});      
      $("#btnAnsMsgRes").click(function(){ $( "#AnsMsgRes" ).dialog("open"); });    
      $("#infomsg").dialog( { autoOpen: false, width:'100%', height:500,
        modal: true, buttons: { OK: function() { $( this ).dialog( "close" ); }   }
      });
      $("#infomsg").dialog("open"); 
      $('#ttl').click(function(){ $( "#infomsg" ).dialog("open"); });
      $('#CHKQT001').click(function(){  GetCheckAns(1);  });
      $('#CHKQT002').click(function(){  GetCheckAns(2);  });
      $('#CHKQT003').click(function(){  GetCheckAns(3);  });
      $('#CHKQT004').click(function(){  GetCheckAns(4);  });
      $('#helpCHKQT001').click(function(){  GetHelpCheckAns(1);  });
      $('#helpCHKQT002').click(function(){  GetHelpCheckAns(2);  });
      $('#helpCHKQT003').click(function(){  GetHelpCheckAns(3);  });
      $('#helpCHKQT004').click(function(){  GetHelpCheckAns(4);  });

      $('input').keyup(function(e){
         if(e.keyCode == 13)
         {
          let id= $(this).attr("id");
          id=id.substring(id.length-1);
          let ansZ= $( "#ANSQT00"+id).val();
          let ansM= $( "#ANSQTM00"+id).val();
          if(ansZ=="" || ansM=="" ){
            if(ansZ=="")  $( "#ANSQT00"+id).focus();
            else if(ansM=="")  $( "#ANSQTM00"+id).focus();
          }else{            
            switch(Number(id)){
            case 1:GetCheckAns(1);break;
            case 2:GetCheckAns(2);break;
            case 3:GetCheckAns(3);break;
            case 4:GetCheckAns(4);break;
            }     
           }
         }
      });
    });

