doctype html
html(lang="zh")
  script(src="/math/utils/tmsUtils.js") 
  script(src="/math/utils/tmsCalcu.js") 
  script(src="/math/tmsUIMathClass.js")   
  script.
    var ft='<c:out value="${param.ft }" default="" />'; if(ft.length>6) {ft='!{ft}';} ; 
    var username='<c:out value="${fn:escapeXml(userName)}" default="" />'; if(username.length>30){username="";} 
  if profile
    script.
      if(username=="") {username='!{profile.displayName}'; }
  head
    title One-Dimensional Equation
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/math/css/tmsUITrain.css')
    link(href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css",rel="stylesheet" )
    script(src='https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/javascript/jquery.min.js')
    link(href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", rel="stylesheet" )
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")    
    script(src='https://getbootstrap.com/docs/3.4/dist/js/bootstrap.min.js')
    script(src='https://cdn.kastatic.org/third_party/javascript-khansrc/khan-mathjax/2.1/MathJax.js?config=KAthJax-730d56e87e9c926b91584f6030314815')
    <script type="module" src="/mathlive/dist/mathlive.mjs"></script>
    -let AnsMType=false;
    each _anstype in AnsType
      -AnsMType=  _anstype=="m"?true:false;
    if AnsMType
      script.
        function InitMathField(mf_li,mf){
          console.log(mf_li)
          import('/mathlive/dist/mathlive.mjs')
          .then(module => {
            for (let i = 0; i < mf_li.length; i++) {
                let mf__ = module.default.makeMathField(mf_li[i], {
                    smartMode: true,
                    virtualKeyboardMode: 'onfocus',
                    onContentDidChange: (mf__) => {
                        let latex = mf__.$text();
                        let lx_name=(mf__.element.id.substring(2));
                        document.getElementById(lx_name).value = escapeHtml(latex);
                    },
                });
                mf.push(mf__);
            }
          })
          .catch(err => {
            console.log( err.message);
          });        
        };
        function ClearMathField(mf_li,mf){
          import('/mathlive/dist/mathlive.mjs')
          .then(module => {
            for (let i = 0; i < mf_li.length; i++) {
                let elen0=mf_li[i];
                if(mf_li[i]==elen0) {
                  let mf__=mf[i];
                  mf__.$perform('selectAll');
                  mf__.$clearSelection();
                  if(mf_li[i]==elen0) mf__.$focus()
                }
            }
          })
          .catch(err => {
            console.log( err.message);
          });
        };
    else
      script.
        function InitMathField(mf_li,mf){}
        function ClearMathField(mf_li,mf){}
    script.
      var mf=[];
      var mf_li=[];
      function escapeHtml(string) {
          return String(string).replace(/[&<>"'`=/\u200b]/g, function ( s ) {
              return (
                  {
                      '&': '&amp;',
                      '<': '&lt;',
                      '>': '&gt;',
                      '"': '&quot;',
                      "'": '&#39;',
                      '/': '&#x2F;',
                      '`': '&#x60;',
                      '=': '&#x3D;',
                      '\u200b': '&amp;#zws;',
                  }[s] || s );
          });
      }    
      function GetQuestion(x) {  
        let qno= ($('#CHKQT00'+x).text()=="Start") ? 1: Number($('#CHKQT00'+x).text().split("/")[0])+1;
        //clear input text
        for(let i=0;i<AnsCnt[x];i++)
        {
          $("#InputAns"+x+i).val("");       
          $("#InputAns"+x+i).prop('disabled', false);
          $("#InputAns"+x+i).css("display", "block");      
          if(i==0) $("#InputAns"+x+i).focus();     
        }
        $('#CHKQT00'+x).text(qno+ "/10确定");
        $('#QT00'+x).html("\\("+App.GetQizStatement(x,qno)+"\\)");  
        App.UpdateMathContent(x);
        //clear mathinput txt
        ClearMathField(mf_li,mf);
        close_msgbox('AnsMsgbox');
      }
      function GetCheckAns(x) {  
        if($('#CHKQT00'+x).text()=="Start"){ GetQuestion(x);
        }else{
          let qno=  Number($('#CHKQT00'+x).text().split("/")[0]);
          let a_cnt=Number(AnsCnt[x]);
          let a_li=[]
          for(let i=0;i<a_cnt;i++)
          {
            let InputAnsBox1=$( "#InputAns"+x+i);
            let ansZ=InputAnsBox1 ? InputAnsBox1.val() : null;  
            if(ansZ=="") return;
            a_li.push(ansZ);
          }
          for(let i=0;i<a_cnt;i++)
            $( "#InputAns"+x+i).prop('disabled', true);
          show_AnsMsgbox(x,qno,a_li[0],a_li[1],a_li);  
        }
      }
  body
    if !profile        
      <table id=login_forom>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<td>請<a href="/login">登入</a>!
      </table>          
    ul(class="nav nav-tabs")
      li(class="nav-item")
        a(href="/internal/TMS/mathindex.jsp") 
          span(class="glyphicon glyphicon-arrow-left")
          span(style="display:none")= MathTitle     
          if profile
             span(style="display:none") #{profile.displayName} &nbsp;
      li(class="active")
        a(data-toggle="tab" href="#menu1") 題型1
      each tabm_idx  in [2,3,4,5,6,7,8,9]
        if tabm_idx <= book.tx
          li
            a(data-toggle="tab" href=`#menu${tabm_idx}`)= `題型${tabm_idx}`
    .container
    block content  