//- Copyright 2017, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

doctype html
html(lang="zh")
  head
    title= `JS ${book.qtitle} ${book.gid} ${book.id}`
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    //link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js') 
    script(src='/jquery-ui-dist/jquery-ui.min.js')    
    link( href='/jquery-ui-dist/jquery-ui.min.css',rel='stylesheet' )        
    link(href="https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs/editor/editor.main.css",rel="stylesheet",data-name="vs/editor/editor.main")

    script.
      function Load(){
        let codetxt=   ["let TE={St:'',Val:''};", 
            'let a=Math.floor(Math.random()*10);', 
            'let b=Math.floor(Math.random()*10);', 
            'let c=Math.floor(Math.random()*10);', 
            "TE.St=`${a}+${b}+${c}`;", 
            "TE.Val=a+b+c;", 
            ''].join('\n')
        data:editor.setValue(codetxt);
        /*data:editor.getValue()
        $.post( "api/readequ",{data:editor.getValue()}, function( data ) {
          var x = document.getElementById("myframe");
          x.src="trianing.mlx2.jsp?ft=f1003"
        });
        */
      }  
        function showTab(x){
          switch(x){
            case 1:
              document.getElementById("CODEIDE").style.display="block";
              document.getElementById("ANSIDE").style.display="none";
              break;            
            case 2:
              document.getElementById("CODEIDE").style.display="none";
              document.getElementById("ANSIDE").style.display="block";
              break;
            case 3:
              document.getElementById("CODEIDE").style.display="block";
              document.getElementById("ANSIDE").style.display="block";
            case 4:
              document.getElementById("FRMIDE").style.display=document.getElementById("FRMIDE").style.display=="block"?"none":"block";
          }
        }
      function showMsg(data){
          document.getElementById("MessageBoxTxt").innerText= data;
          document.getElementById("MessageBox").style.display="block";
      }
      function SaveRun(){
        $.post("!{posturl}",
           {CreatAEqCode:editor.getValue(),CheckAnsCode:editor_ans.getValue()}, 
        function( data ) {
          showMsg("Saved: id("+ data+")");
          document.getElementById("FRMIDE").style.display="block";
          var x = document.getElementById("myframe");
          x.src="/internal/equed/edUI/!{book.id}"
        });
      }
  body
    style.
      #MessageBox{ width: 180px; height: 180px;
       position: fixed;
       bottom: 0;
       right: 0;
       border-style: solid;
       display:none;
      } 
    #MessageBox()
      button#MessageBoxTxtCancelBtn(onclick="document.getElementById('MessageBox').style.display='none';") X
      #MessageBoxTxt
      
    //.navbar.navbar-default
    //.navbar.navbar-inverse.navbar-fixed-top(style="margin:0;padding:0;")
    .navbar.navbar-inverse(style="margin:0;padding:0;")
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
          .navbar-brand
            span Maths 
            spna :
            if(profile)
              span= profile.username
        .navbar-collapse.collapse                         
          ul.nav.navbar-nav
            li(class="dropdown")
              a( class="dropdown-toggle", data-toggle="dropdown", href="#" )  Navi
                span(class="caret")
                  ul(class="dropdown-menu")
                    li
                      a(href="/internal") 
                        span 返回主頁
                    li
                      a(href="/internal/equed/list") 
                        span list
            li    
              a(href="#")
                input(type="radio",name="code_name",value="EQUTAB",onclick="showTab(1);")
                span CreatAEq
            li  
              a(href="#")
                input(type="radio",name="code_name",value="ANSTAB",onclick="showTab(2);")
                span CheckAns
            li  
              a(href="#")
                input(type="radio",name="code_name",value="ANSTAB",onclick="showTab(3);")
                span AllWin
            li  
              a(href="#")
                input(type="checkbox",name="code_namex",value="ANSTABx",onclick="showTab(4);")
                span 用戶介面

              //button(onclick='Load();') Load
            li  
              a(href="#",onclick='SaveRun();') 儲存並運行
            li  
              a(href=`/internal/equed/edUI/${book.id}`, target="_blank") 獨立MathUI              

          ul.navbar-text.navbar-right
            // [START profile]
            if profile
              if profile.image
                img.img-circle(src=profile.image, width=24)
              span #{profile.displayName} &nbsp;
                a(href=logout) (logout)
            else
              a(href=login) Login
            // [END profile]

    .container
      block content
