extends ./base.f1.mlx3.pug

block content
  include include/frm.mlx3.pug
  mixin MathTestPanelMathlive(tabid,inputType,input_cnt)
    table(style="margin:10px auto;")
      tr
        td
          span(id=`QNO00${tabid}`) 題:&nbsp;&nbsp;
        td
          div(id=`QT00${tabid}`)
      tr
        td(valign="top") 解:   
        td  
          table
            each AnsInputIdx in [0,1,2,3,4,5,6,7,8,9]
              if AnsInputIdx < input_cnt
                tr
                  td
                    small= `(${AnsInputIdx+1}):`
                  case inputType
                    when "m"
                      td
                        span(class="mathfield",style='font-size:28px;width:200px;',id=`mlInputAns${tabid}${AnsInputIdx}`) 
                        
                        br
                        script.
                          mf_li.push(!{`mlInputAns${tabid}${AnsInputIdx}`});
                      td  
                        input(readonly=true,style="width:60px;min-width:1px;font-size:10px;border:0;outline:none;", id=`InputAns${tabid}${AnsInputIdx}`)
                    when "n"  
                      td                
                        input(class="AnsInput",type="number", id=`InputAns${tabid}${AnsInputIdx}`)
                    when "t"
                      td  
                        input(class="AnsExpInput",type="text", id=`InputAns${tabid}${AnsInputIdx}`)
                    default
                      td
                        span -    
                
            td(colspan=3) 分數用(-a/b)格式; 
      tr
        td
        td
          button(class="btn btn-info btn-sm",id=`CHKQT00${tabid}`) Start
  //end mix//
  div(class="tab-content")
    -let instyle="AnsInput";
    -let inTxt="number";
    each tabid in [1,2,3,4,5,6,7,8,9]
      - tabidflag= tabid<=book.tx
      if tabidflag
        -tabpaneclass= tabid==1?"tab-pane fade in active":"tab-pane fade"
        div(id=`menu${tabid}`,class=tabpaneclass)    
            +MathTestPanelMathlive(tabid,AnsType[tabid],AnsCnt[tabid])  
  
  style.
    .MathJax span{font-size:20px;}
  script.
    ////////////Init App(UIMathClass interface) Load fX.js and Init Equation Data 4 x 10
    function CreatAEq(Tx, Tk, Range) {
      let tmsU = new TmsUts();// 工具箱 Utils
      let tmsCalc=new TmsCalcu();
      let tmsCalcu=new TmsCalcu();
      try{
        !{CreatAEqCode}
        if(!TE.CalcVal) TE.CalcVal=0;
        return TE;
      }catch(excep)
      {
        console.log(excep.message);
        console.log(excep.stack);
        let ErrorLineNum = excep.stack.match(/[0-9][0-9][0-9]/);
        alert(`ERROR: Line No. ${Number(ErrorLineNum)-!{CreatAEqCodeBaseLine}} : Message: ${excep.message}`);
      }
    }
    function CheckAns(IAns1,IAns2,TE){
      let tmsU = new TmsUts();// 工具箱 Utils, globe_var tmsCalc
      let tmsCalcu=new TmsCalcu();
      console.log(IAns1,IAns2,TE);
      !{CheckAnsCode}
      return null;
    }
    class UIMathClassEquEd extends UIMathClass {
      InitQizData(){
        for (let i = 0; i < 4; i++) {
            for(let j=0;j<10;j++){
              let TiXing = i+1;
              let s1 = CreatAEq(TiXing, 9, null)
              this.NTE[i][j]=s1;
              this.QT[i][j]=s1.St;
              this.AQT[i][j]=s1.Val;
            }
          }
      }     
      GetQizStatement(qti,qno)
      {
        super.GetQizStatement(qti,qno);
        return this.QT[Number(qti)-1][qno-1] ;   
      }
      CheckAns(qti,qno, AnsZ,AnsM){
        let AnsTE=App.NTE[Number(qti)-1][qno-1];
        return CheckAns(AnsZ,AnsM,AnsTE);
      }
      //de_ca 
      GetAns_Num(qti,qno){return App.AQT[Number(qti)-1][qno-1]["F116"];}
      GetAns_Den(qti,qno){return App.AQT[Number(qti)-1][qno-1]["G116"];}
      GetAnsSt(qti,qno) {return this.AQT[Number(qti) - 1][qno - 1];   }
      //end de_ca
    }
    let App=new UIMathClassEquEd();
    App.InitQizData();
    //End Init app//
    $(document).ready(function(){
      //Buttom Pannel > help#ttl| score#btnAnsMsgRes | username | txtdate | txtft | MathTitle | username
      var d = (new Date()).toISOString().substring(0, 10).replace(/-/g,"");
      var t = (new Date()).toISOString().substring(11, 19).split(':');
      let h=Number(t[0])+8;  h=h>9?""+h:"0"+h;
      var ti=h+""+t[1]+""+t[2];   //Number(t[0])+8 +""+t[1]+""+t[2];
      $( "#txtdate" ).text(d+ti); 
      $( "#MathTitle" ).text("!{MathTitle}"); 
      $( "#txtuser" ).text(username);
      $( "#txtft" ).text(ft); 
      //End buttom pannel
      //Dialog Define
      //Dialog 得分表
      $("#AnsMsgRes").dialog( { autoOpen: false, width:'80%'});      
      //Button 得分 
      $("#btnAnsMsgRes").click(function(){ $( "#AnsMsgRes" ).dialog("open"); });    
      //Dialog Message: 步驟 1. 選擇題型。2. 做题：3. 【確定】 --- 評判答案幷打分。 說明
      $("#infomsg").dialog( { autoOpen: false, width:'100%', height:500,
        modal: true, buttons: { OK: function() { $( this ).dialog( "close" ); }},
        open:function(){
          //if(App.Note) $("#infomsg_txt").html(App.Note);
          MathJax.Hub.Config({ tex2jax: { inlineMath: [['$', '$'], ['\\(', '\\)']] } });
          MathJax.Hub.Queue(["Typeset", MathJax.Hub, "infomsg_txt"]);
        }
      });
      
      $('#ttl').click(function(){ $( "#infomsg" ).dialog("open"); });
      //End Dialog Define
      //Check Ans Event
      $('#CHKQT001').click(function(){  GetCheckAns(1);  });
      $('#CHKQT002').click(function(){  GetCheckAns(2);  });
      $('#CHKQT003').click(function(){  GetCheckAns(3);  });
      $('#CHKQT004').click(function(){  GetCheckAns(4);  });
      $('input').keyup(function(e){
         if(e.keyCode == 13)
         {
          /*
          let id= $(this).attr("id");
          id=id.substring(id.length-1);
          let ansZ= $( "#InputAns"+id+"0").val();
          let ansM= $( "#InputAns"+id+"1").val();
          if(ansZ=="" || ansM=="" ){
            if(ansZ=="")  $( "#ANSQT00"+id).focus();
            else if(ansM=="")  $( "#ANSQTM00"+id).focus();
          }else{            
            switch(Number(id)){
            case 1:GetCheckAns(1);break;
            case 2:GetCheckAns(2);break;
            case 3:GetCheckAns(3);break;
            case 4:GetCheckAns(4);break;
            }     
           }*/
         }
      });
      //End def Check Ans Event
      InitMathField(mf_li,mf);
    });
  
  