//- Copyright 2017, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

extends ./base.pug

block content
  script(src='/ckeditor/ckeditor.js')
  h3 #{action} 工作小便條 
  form(method="POST", enctype="multipart/form-data")
    .form-group.hidden
      label(for="title") 標題
      input.form-control(type="text", name="title", id="title", value=book.title)
    table
      tr
        td Author
        td
          input.form-control(type="text", name="author", id="author", value=book.author, readonly=true)
        td 日期
        td
          input.form-control(type="text", name="logDate", id="logDate", value=book.logDate)
		  
    .form-group.hidden
      label(for="authorname") authorname
      input.form-control(type="text", name="authorname", id="authorname", value=book.authorname, readonly=true)
    .form-group
      label(for="description") 工作內容:
      textarea.form-control(rows=5, name="description", id="description", style="color: #f0f0f0; background-color: #050c02;",value=book.description)= book.description
    .form-group.hidden
      label(for="toStaf") 支援職員編號
      input.form-control(type="text", name="toStaf", id="toStaf", value=book.toStaf)
    .form-group.hidden
      label(for="toName") 支援職員名稱
      input.form-control(type="text", name="toName", id="toName", value=book.toName)
    .form-group.hidden
      label(for="title") 狀態:
      label(class="radio-inline")=   "-1.關閉請求___" 
        input(type="radio", name="deptlog",id= ("deptlog_1"), value= -1, checked=  book.deptlog == - 1 ? true : false )  
      label(class="radio-inline")=   "0.處理進行中___" 
        input(type="radio", name="deptlog",id= ("deptlog_2"), value=  0, checked=  book.deptlog == 0 ? true : false )  
      label(class="radio-inline")=   "1.完成並關閉請求___" 
        input(type="radio", name="deptlog",id= ("deptlog_3"), value=  1, checked=  book.deptlog > 0  ? true : false )  
    .form-group.hidden
      label(for="rootid") rootid 
      input.form-control(type="text", name="rootid", id="rootid", value=book.rootid)
    .form-group.hidden
      label(for="parentid") parentid 
      input.form-control(type="text", name="parentid", id="parentid", value=book.parentid)
    .form-group.hidden
      label(for="createdBy") Created by 
      input.form-control(type="text", name="createdBy", id="createdBy", value=book.createdBy)
    .form-group.hidden
       label(for="createdById") Created by ID
       input.form-control(type="text", name="createdById", id="createdById", value=book.createdById)
    if book.deptlog==0
      if profile.id == book.createdById
        button.btn.btn-success(type="submit") Save
      if action == 'Edit'
        if book.rootid
          a(href=`/internal/worknote/${book.id}/follow?rid=${book.rootid}&n=Follow&t=${book.description}`)
            button.btn.btn-success(type="button") Follow
        else
          a(href=`/internal/worknote/${book.id}/follow?rid=${book.id}&n=Follow&t=${book.description}`)
            button.btn.btn-success(type="button") Follow
    else
      button(type="button", class="btn btn-success disabled") Save
  script.
    CKEDITOR.replace( 'description',{    filebrowserUploadUrl: "imageUploader" }  );
          
