
link(href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css",rel="stylesheet" )
script(src='https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/javascript/jquery.min.js')
link(href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", rel="stylesheet" )
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")    
script(src='https://getbootstrap.com/docs/3.4/dist/js/bootstrap.min.js')

script(src='/javascripts/cool/grid_export.js')
-var fn= "reli_report";
-var act_link="/internal/PublicAPI/ExpXls.php?charset=utf-8&filename="+fn+".xls"
form(method="POST", enctype="multipart/form-data",action=`/internal/PublicAPI/ExpXls.php?charset=utf-8&filename=${fn}.xls`)#CSVFrmPOST
  .form-group.hidden
    input.form-control(type="text", name="CSVFrmPOSTNAME", id="CSVFrmPOSTVALUE")
.btn-group
  a(href='#', class='btn btn-primary btn-sm')#exportbtn
    i.glyphicon.glyphicon-download-alt
    span  匯出Xls  


table#tableContent(border=1)
  tr
    th user
    th modified_date
    th name
    th classno
    th seat  
    th 性別
    th 年齡
    th 宗教信仰
    th 信主年數
    th 教會
    th 返教會次數
    th 洗浸禮
    th 返聖堂次數
    th 其他信仰
    th 父信仰
    th 父其他信仰
    th 母信仰
    th 母其他信仰
    th A1信主原因
    th A2其他原因
    th A3JOIN活動
    th A4活動
    th A5其他活動
    th A6活動時段
    th A7其他時段
    th A8JOIN事奉
    th A9事奉
    th AA其他事奉
    th ABJOIN協助
    th AC協助
    th AD其他協助
    th AEJOIN培訓
    th AE培訓
    th AE其他培訓
    th AF聖經科
    th AF建議
    th AG喜歡福音活動聚會
    th AG建議
    th AG其他
    th AF希望從神得到
    th B1信仰印象
    th B2其他印象
    th B3未信原因
    th B4其他原因
    th B5JOIN活動
    th B6活動
    th B7其他活動
    th B8活動時段
    th B9其他時段
    th BA喜歡福音活動聚會
    th BA建議
    th BA其他
    th BB聖經科 
  each ite in books
    tr
      td= ite.user
      td= ite.modified_date
      td= ite.name
      td= ite.classno
      td= ite.seat
      td= ite.性別
      td= ite.年齡
      td= ite.宗教信仰
      td= ite.信主年數
      td= ite.教會
      td= ite.返教會次數
      td= ite.洗浸禮
      td= ite.返聖堂次數
      td= ite.其他信仰
      td= ite.父信仰
      td= ite.父其他信仰
      td= ite.母信仰
      td= ite.母其他信仰
      td= ite.A1信主原因
      td= ite.A2其他原因
      td= ite.A3JOIN活動
      td= ite.A4活動
      td= ite.A5其他活動
      td= ite.A6活動時段
      td= ite.A7其他時段
      td= ite.A8JOIN事奉
      td= ite.A9事奉
      td= ite.AA其他事奉
      td= ite.ABJOIN協助
      td= ite.AC協助
      td= ite.AD其他協助
      td= ite.AEJOIN培訓
      td= ite.AE培訓
      td= ite.AE其他培訓
      td= ite.AF聖經科
      td= ite.AF建議
      td= ite.AG喜歡福音活動聚會
      td= ite.AG建議
      td= ite.AG其他
      td= ite.AF希望從神得到
      td= ite.B1信仰印象
      td= ite.B2其他印象
      td= ite.B3未信原因
      td= ite.B4其他原因
      td= ite.B5JOIN活動
      td= ite.B6活動
      td= ite.B7其他活動
      td= ite.B8活動時段
      td= ite.B9其他時段
      td= ite.BA喜歡福音活動聚會
      td= ite.BA建議
      td= ite.BA其他
      td= ite.BB聖經科   
script(type="text/javascript").
  $(document).ready(function(){
    $('#exportbtn').click(function(){
      var txt= document.getElementById('tableContent').innerHTML;
      document.getElementById('CSVFrmPOSTVALUE').value ="<table>"+ txt+"</table>";
      document.getElementById('CSVFrmPOST').submit();
    });
  });
