
extends ./base.pug
block content
  a(href="/internal/me/editdata/add", class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Add stud

  each book in books
    div
      a(href=`/internal/me/editdata/${book.id}`)= book.id
    div= book.type
    div !{book.item}
    //div !{book.detail}
    div= book.item_date

  if !books.length
    p No work log found.
  -var prePageToken = nextPageToken - 200 > 0 ? nextPageToken - 200 : 0
  if nextPageToken 
    nav
      ul.pager
        if nextPageToken>100
          li
            a(href=`?pageToken=${encodeURIComponent(prePageToken)}`) Prev
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) Next
  else 
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(prePageToken)}`) Prev
  if cflag            
    li
      a(href="/internal/workgrid/add") Add Rec