#infomsg
  div#infomsg_txt
  div æ­¥é©Ÿï¼š
  div 1. é¸æ“‡é¡Œå‹ã€‚
  div 2. åšé¢˜ï¼š
  div (1)ã€ä¸‹ä¸€é¡Œã€‘ï¼Œ
  div (2) åšé¡Œå¹¶é–‹å§‹è¨ˆæ™‚ï¼Œ
  div (3) å¡«å†™ç­”æ¡ˆã€‚
  div 3. ã€ç¢ºå®šã€‘ --- è©•åˆ¤ç­”æ¡ˆå¹·æ‰“åˆ†ã€‚
  div èªªæ˜ï¼š
  div 1. å¯ä»¥ç”¨ç´™ç­†è¨ˆç®—ï¼Œä¹Ÿå¯ä»¥ç”¨è¨ˆç®—å™¨è¼”åŠ©ã€‚
  div 2. å•è¡Œåˆ†æ•¸å†™æ³•å¦‚å³ï¼Œä¾‹å¦‚ï¼šğ‘/ğ‘ å†™æˆ a / b --åˆ†æ•°çº¿ç”¨æ–œæ¨ªã€‚
  div 3. å•è¡ŒæŒ‡æ•°å†™æ³•å¦‚å³ï¼Œä¾‹å¦‚ï¼š x2+1  å†™æˆ  x^2+1 --ç”¨æŒ‡æ•°ç¬¦"^"ã€‚
  div 4. å•è¡Œæ ¹å¼å†™æ³•å¦‚å³ï¼Œä¾‹å¦‚ï¼šâˆš(ğ‘¥+1)  å†™æˆ  J(x+1) --å¤§å†™ J+ æ‹¬å¼§ã€‚
  div 5. æ¯é¡Œ10åˆ†ã€‚å…§è¨­åŸºæº–æ™‚é–“ï¼Œæå‰å®ŒæˆåŠ åˆ†ï¼Œè¶…æ™‚å®Œæˆæ‰£åˆ†ã€‚
  div 6. ä¸€æ¬¡æµ‹éªŒå¿…é¡»åšæ»¿10é¡Œï¼Œç„¶å¾Œç”µè„‘è‡ªå‹•å¡«å¯«å ±è¡¨ã€‚

#AnsMsgbox(class="msgrelative", style="display:none")
  Span#AnsMsgboxCheckAns OX
  span(style="display:none") é¡Œå‹
  span(style="display:none")#AnsMsgboxQT
  sapn(style="display:none") ç¬¬
  span(style="display:none")#AnsMsgboxQNO
  sapn(style="display:none") é¡Œ
  span æ­£ç¢ºç­”æ¡ˆ:
  span#AnsMsgboxRAns __
  span(style="display:none") è§£:
  Span(style="display:none")#AnsMsgboxAns __    
  button(style="float:right;", class="btn btn-info btn-sm",onclick="AnsMsgboxNext(this)")#AnsMsgboxNext ä¸‹1é¡Œ 

.footmsg
  button(type="button" class="btn btn-default btn-sm")#ttl
    span(class="glyphicon glyphicon-exclamation-sign")   
  button(type="button" class="btn btn-default btn-sm")
    span(class="glyphicon glyphicon-exclamation-sign")#btnAnsMsgRes å¾—åˆ†
  span(class="glyphicon glyphicon-grain")
  span(style="background-color: #222;color:white;font-size:12px;")#txtuser 
  span(style="background-color: #222;color:white;font-size:12px;")#txtdate  
  span(style="background-color: #222;color:white;font-size:12px;")#txttime
  span |
  span(style="background-color: #222;color:white;font-size:12px;")#txtft
  span(style="font-size:12px;")#MathTitle
  span |
  if profile
    span(style="font-size:12px;")= profile.displayName

#AnsMsgRes
  table(class='table table-dark')#AnsMsgResTable
    tr
      th(scope="col") é¡Œå‹
      th(scope="col") é¡Œè™Ÿ
      th(scope="col") å°/éŒ¯
      th(scope="col") è€—æ™‚
      th(scope="col") å¾—åˆ†
      th(scope="col") å‘½é¡Œ
      th(scope="col") è§£é¡Œ
      th(scope="col") æ¨™æº–ç­”æ¡ˆ
    tr
      td ç¸½è¨ˆ

#infobox(class="infocenter",style="display:none")
  div
    b ä¿¡æ¯: 
    span#infobox_txt
  div(class="msgboxclosebtn")
    button(onclick="close_msgbox('infobox')") x

#msgbox(class="msgcenter",style="display:none")
  div
    b ä¿¡æ¯: 
    span#msgbox_txt
  div(class="msgboxclosebtn")
    button(onclick="close_msgbox('msgbox')") x  

script.
  function AnsMsgboxNext(paras){
    close_msgbox('AnsMsgbox');
    let qt =document.getElementById("AnsMsgboxQT").innerHTML;
    let gno= document.getElementById("AnsMsgboxQNO").innerHTML;      
    GetQuestion(qt);
  }
  function show_HelpAnsMsgbox(x,qno,ansZ,ansM) {
    let equans=App.GetQizAns(x,qno);
    let ans_res=[];
    ans_res[0]=x;
    ans_res[1]=qno;
    let spanxv="";
    if(App.CheckAns(x,qno,ansZ,ansM)){
      ans_res[2]="1";
      spanxv="<span class='glyphicon glyphicon-ok'></span>"
    }else{
      ans_res[2]="0";
      spanxv="<span class='glyphicon glyphicon-remove'></span>"
    }
    alertmsg(spanxv)
    
  }
  function show_AnsMsgbox(x,qno,ansZ,ansM) {
    let equans=App.GetQizAns(x,qno);
    document.getElementById("AnsMsgboxQT").innerHTML=x;
    document.getElementById("AnsMsgboxQNO").innerHTML=qno;
    if((typeof equans)=="object"){
      document.getElementById("AnsMsgboxRAns").innerHTML=equans["F116"]+"/"+equans["G116"];
    }else{
  	  document.getElementById("AnsMsgboxRAns").innerHTML=App.GetAnsSt(x,qno);
    }
    document.getElementById("AnsMsgboxAns").innerHTML=ansZ;
    let ans_res=[];
    ans_res[0]=x;
    ans_res[1]=qno;
    if(App.CheckAns(x,qno,ansZ,ansM)){
      ans_res[2]="1";
      document.getElementById("AnsMsgboxCheckAns").innerHTML="<span class='glyphicon glyphicon-ok'></span>"
    }else{
      ans_res[2]="0";
      document.getElementById("AnsMsgboxCheckAns").innerHTML="<span class='glyphicon glyphicon-remove'></span>"
    }
    ans_res[3]= App.GetUseTime(x,qno);
    ans_res[4]= ans_res[2];
    ans_res[5]= App.GetQizSt(x, qno);
    ans_res[6]= ansZ;
    if(App.IsFraction(x,qno)) ans_res[6] = ansZ+" / "+ ansM ;
    ans_res[7] = App.GetAnsSt(x, qno);
    var table = document.getElementById("AnsMsgResTable");    
    table.deleteRow(table.rows.length-1);  
    var row = table.insertRow();//0 first row
    for(let j=0;j<ans_res.length;j++){
      var cell = row.insertCell(j);                
      cell.innerHTML = ans_res[j];
    }
    let totalrow=["",0,0,0,0,0];
    for (var i = 1, row_; row_ = table.rows[i]; i++) {
      totalrow[0]=row_.cells[0].innerText;
      totalrow[1]++;
      totalrow[2]+=Number(row_.cells[2].innerText);
      totalrow[3]+=Number(row_.cells[3].innerText);
      totalrow[4]+=Number(row_.cells[4].innerText);
      totalrow[5]=Number(row_.cells[0].innerText);
    }    
    row = table.insertRow(); //0 first row
    cell = row.insertCell();     
    cell.innerHTML = "ç¸½è¨ˆ("+ft+")";           
    for(let j=1;j<totalrow.length;j++){ var cell = row.insertCell(j); cell.innerHTML = Math.ceil( totalrow[j]);  }
    document.getElementById('AnsMsgbox').style.display = "block";   
    document.getElementById('AnsMsgboxNext').focus();
    if(qno >=App.AQT[x-1].length)  {
      document.getElementById("CHKQT00"+x).style.display = "none";    
      document.getElementById("QT00"+x).style.display = "none";      
      document.getElementById("ANSQT00"+x).style.display = "none";      
      document.getElementById("ANSQTM00"+x).style.display = "none";      
      
      $( "#AnsMsgRes" ).dialog("open");    
      alert("ä¸Šè¼‰æˆç¸¾!!");          
      alertmsg("è™•ç†ä¸­..è«‹ç­‰å¾…..!"); 
      //var data = JSON.stringify( $(AnsMsgResTable).serializeArray() ); //  <-----------
      //var tabdata = JSON.stringify( $(AnsMsgResTable) ); //  <-----------
      //var table = document.getElementById("AnsMsgResTable");    
      let tabData=[];
      for (var i = 0, row_; row_ = table.rows[i]; i++) {
        tabData[i]=[];
        for (var j = 0, col_; col_ = row_.cells[j]; j++) {
          tabData[i][j]=col_.innerText
       }  
      }
      tabData= JSON.stringify(tabData);
      if(username=="")
      {
          alertmsg( "Please USER login first! " );
      }else{
        $.post( "/internal/TMS/AddTMSQF", { "fileid": "$('#FileId').val()","fn":""+ft+"_"+x+"_"+ $( "#txtdate" ).text() , "data": tabData }, 
          function( data ) {
      	  alertmsg( data );
        });
      }
      close_msgbox("AnsMsgbox");   
    }
  }  
  //infobox
  function show_infobox(x) {
  	document.getElementById("infobox_txt").innerHTML=x;
    document.getElementById('infobox').style.display = "block";
  }
  function close_msgbox(x) {
    document.getElementById(x).style.display = "none";
  }
  function alertmsg(x)
  {
    document.getElementById("msgbox_txt").innerHTML=x;
    document.getElementById("msgbox").style.display = "block";
  }     